*{
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  width: 26%;
  height: 7%;
}

.dinner {
  height: 100%;
  width: 100%;
}
.imgContainer {
  flex-basis: 100%;
  height: 540px;
}

.log {
  box-shadow: none !important;
  color: #000 !important;
  background-color: #fff !important;
}

.log:hover {
  color: #ffa500 !important;
}

.row {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 95%;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4% 0 0% 11%;
}

.hidden {
  overflow: hidden;
}

@media only screen and (max-width: 1200px ) {
  .imgContainer{
    flex-basis: 0;
  }
  .col{
    background: linear-gradient(to right, #f3e9e9b3, #f3e9e9b3),url("./Dinner.webp");
    height:540px;
  }
  .logo{
    height: 50px;
    width: 140px;
  }

}
