.ulist {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  width: 87%;
  padding: 0;
  text-align: left;
}

.ulist li {
  display: inline;
  font-weight: bolder;
}

.pop {
  text-align: left;
}

.ulist li:nth-child(even),
.grey {
  color: #93959f;
}

.grey {
  line-height: 1;
  font-weight: 600;
}

.ulist li:nth-child(odd) {
  color: #282c3f;
}
